.blog-container {
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Centers the container */
   
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow around the container */
    background-color:rgb(51 65 85);
    border-radius: 40px;
    min-height: 80vh;

}