.blog-container {
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Centers the container */
    padding: 20px; /* Padding around the content */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow around the container */
    background-color: #fff; /* Optional: sets the background color */
    border-radius: 40px;
}

.blog-title {
    text-align: center;
    color: #333; /* Dark gray color for the text */
    margin-bottom: 20px;
}

.blog-image {
    width: 100%; /* Makes the image responsive */
    height: auto;
    margin-bottom: 20px;
}

.blog-content {
    text-align: justify; /* Justifies the text for better readability */
    color: #333;
}
