
.App-link {
  color: #61dafb;
}

.App-body img{
  width: 500px;
  height: 500px;
  align-items: center;
}
.App-Blog {
  padding-top: 150px;
  background-color: rgb(0, 0, 0);
}
.App-header {
  position: fixed;
  background-color: white;
  width: 100%;
}